h1{
    text-align: center;
}

#main{
    display: flex;
}
.img{
    width: 400px;
    height: 250px;
}

button{
    background-color: blue;
    height: 70px;
    width: 110px;
    border-radius: 5px;
}

