<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>

    {% load static %}

</head>
<body>


<h1>PRODUCTS OFFERED AT SHOPDISH </h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis cum dolor dolorem harum illum ipsam maiores, nobis non officiis pariatur, quidem quisquam recusandae rem saepe tempora tenetur, voluptate! Assumenda.</span><span>A accusamus alias, amet autem corporis debitis, eum ex fuga ipsa nam natus non nostrum praesentium quos sit tenetur unde! Aliquid culpa cum fugiat modi natus nemo nihil quae voluptatum.</span></p>
<marquee behavior="" direction="down"><img src="{% static 'assets/img_1.png' %}" alt=""></marquee>
<marquee behavior="alternate" direction="right"><img src="{% static 'assets/img_2.png' %}" alt=""></marquee>
<marquee behavior="" direction=""><img src="{% static 'assets/img_4.png' %}" alt=""></marquee>
<marquee behavior="" direction="up"><img src="{% static 'assets/img_5.png' %}" alt=""></marquee>
<marquee behavior="" direction="down"><img src="{% static 'assets/img_6.png' %}" alt=""></marquee>
<marquee behavior="" direction="right"><img src="{% static 'assets/img_7.png' %}" alt=""></marquee>





</body>
</html>