<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
{% load static %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}">    
    <style>
        h1{
            text-align: center;
            color: #4ac1f7;
            font-size: 65px;
            text-shadow: 10px 12px 15px;
        }
    </style>
</head>
<body>


<a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'about' %}">About</a>



<marquee behavior="" direction=""><h1>SHOPDISH APP</h1></marquee>


<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolores dolorum, eveniet in, iure libero magnam minus quia, rem saepe sint sit? Assumenda doloremque dolorum ea provident quae quaerat ullam?</span><span>Consectetur dolor doloribus ducimus illo laudantium non perspiciatis, quia sit soluta tempora? A, accusamus aperiam dolorem dolorum eum excepturi, expedita explicabo hic id impedit nisi, rem tempore velit voluptas voluptate?</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dicta inventore iure laudantium porro possimus velit vero! Architecto facilis id nam numquam quidem quos repellendus tempore unde. Animi, culpa sapiente?</span><span>Aliquid commodi corporis cupiditate dolorum nihil sint sunt, suscipit veritatis? Atque dignissimos enim est eveniet impedit itaque molestiae neque nulla perferendis quaerat quam quidem quis quo tenetur ullam, velit veniam!</span><span>Accusamus ad dolorem eaque eos illum ipsa ipsum iusto laudantium minima nisi nostrum nulla odio, perferendis perspiciatis praesentium quos totam ullam velit, voluptate voluptatem? Accusantium cupiditate maiores non quia sunt?</span></p>










</body>
</html>