<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>products</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<h1 class="text-center text-warning">Products details</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dignissimos facilis. Aperiam, atque cupiditate dignissimos earum iusto maxime officiis placeat. Assumenda eligendi incidunt magnam nemo nobis praesentium provident rerum veritatis!</span><span>Hic impedit laborum, officia praesentium quibusdam quis sequi. Dolorem minus, suscipit? Aspernatur cumque deleniti esse facilis id impedit inventore iure laudantium minus, nostrum obcaecati omnis porro quam sapiente sit sunt?</span></p>


<table class="table container">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>

    <tr class="table-info">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>

    <tr class="table-danger">
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 bags</td>
    </tr>

    <tr class="table-warning">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>

    <tr class="table-success">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
    <tr class="table-active">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>
</table>

</body>
</html>